.btn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 20px;
    background-color: #5f9ea0;
}

.test1 {
    font-weight: bold;
}

.test2 {
    /* font-stretch: ultra-condensed; */
    /* font-stretch: extra-condensed; */
    /* font-stretch: condensed !important; */
    /* font-stretch: semi-condensed; */
    /* font-stretch: semi-expanded; */
    /* font-stretch: expanded; */
    /* font-stretch: extra-expanded; */
    /* font-stretch: ultra-expanded; */
    font-stretch: 150%;
}