* {
    /* outline: 1px solid rgb(206, 57, 57); */
}

html {
    font-size: 25px;
}

body {
    font-size: 1.6rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'NanumSquareNeoExtraBold';
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

h2>.titIcon {
    margin-right: 0.5rem;
    font-size: 2.5rem;
}

.section {
    width: 36rem;
    margin: 0 auto;
    padding: 5rem 1rem 1rem 1rem;
}

.sliderArrow .slick-arrow {
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 999;
    width: 1rem;
    height: 1rem;
    padding: 0;
    font-size: 0;
    border: none;
    outline: none;
    background: transparent;
    border-left: 2px solid #202020;
    border-top: 2px solid #202020;
    cursor: pointer;
}

.sliderArrow .slick-prev {
    margin: 0 0 0 -11rem;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sliderArrow .slick-next {
    margin: 0 0 0 11rem;
    transform: translate(-50%, -50%) rotate(135deg);
}

.sliderDots .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sliderDots .slick-dots li {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #FBB03F;
    margin: 0 0.5rem;
    cursor: pointer;
}

.sliderDots .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border-radius: 50%;
    background: #FBB03F;
}

.sliderDots .slick-dots li.slick-active::after {
    width: 100%;
}

.sliderDots .slick-dots li button {
    display: none;
}

/* ---------- BUTTON ---------- */

.fixedBtn {
    display: none;
    position: fixed;
    bottom: 5rem;
    width: 34rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.5rem;
    background-color: #3cacbb;
    padding: 1.3rem 0;
    box-shadow: 7px 7px 7px rgba(20, 20, 20, 0.45);
    z-index: 999;
    color: #ffffff;
}

.fixedBtn::after {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 45%;
    left: 86%;
    content: "\eafa";
    font-family: 'xeicon';
    font-size: 7.5rem;
    color: hsla(0, 0%, 100%, 0.20);
    z-index: -1;
}

.fixedBtn>a>div {
    text-align: center;
}

.fixedBtn>a>div>p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 0.5rem;
}

.fixedBtn>a>div>strong {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
}

/* ---------- MAIN ---------- */

#coverPage {
    width: 36rem;
    height: 50rem;
    overflow: hidden;
    padding: 0;
}

#coverPage>figure {
    overflow: hidden;
}

#coverPage>figure>.coverMain {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    opacity: 0;
    z-index: 998;
}

#coverPage>figure>.coverTitle {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    opacity: 0;
    z-index: 999;
}

.homeCover.swiper-slide-active>main>#coverPage>figure {
    opacity: 1;
    transform: translateY(0);
}

.homeCover.swiper-slide-active>main>#coverPage>figure>.coverMain {
    opacity: 1;
    transform: translateY(-50%);
    transition: 2s;
}

.homeCover.swiper-slide-active>main>#coverPage>figure>.coverTitle {
    opacity: 1;
    transform: translateY(-50%);
    transition: 1.5s;
}

/* ---------- MAIN - MAINNEWS ---------- */

#mainNews {
    padding: 5rem 0 1rem 0;
}

#mainNews .newsSlider {
    height: 34rem;
}

#mainNews .newsSlider .newsBox {
    position: relative;
    height: 32rem;
    background-color: #fff;
}

#mainNews .newsSlider .newsBox>a>figure {
    height: 20rem;
    overflow: hidden;
}

#mainNews .newsSlider .newsBox>a>.desc {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 999;
    background-color: #fff;
    padding: 1.5rem;
    width: 95%;
    height: 13rem;
    box-shadow: 2px 2px 2px hsla(0, 0%, 13%, 0.1);
}

#mainNews .newsSlider .newsBox>a>.desc>h3 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

#mainNews .newsSlider .newsBox>a>.desc>.titleLong {
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -0.05rem;
    height: 4.7rem;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

#mainNews .newsSlider .newsBox>a>.desc>p {
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -0.05rem;
    height: 7rem;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

/* ---------- MAIN - POINT ---------- */

#point {
    padding: 5rem 0;
}

#point .contentBox {
    display: flex;
    gap: 1rem;
    margin-bottom: 4.5rem;
}

#point .contentBox>li {
    border-radius: 1rem;
    border: 1px solid #d4d4d4;
    overflow: hidden;
}

#point .contentBox>li>a {
    position: relative;
}

#point .contentBox>li>a>.title {
    position: absolute;
    font-weight: bold;
    bottom: 0;
    width: 17.5rem;
    background-color: hsla(0, 0%, 13%, 0.45);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

#point>.subBtn {
    background-color: #32afbf;
    font-weight: bold;
    width: 20rem;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 1rem;
}

/* ---------- MAIN - LASTISSUE ---------- */

#lastIssue {
    width: 34rem;
    padding-bottom: 5rem;
}

#lastIssue .issueSlider {
    overflow: hidden;
    padding-bottom: 3.5rem;
}

#lastIssue .issueSlider .slick-slide {
    margin: 0 1rem;
}

#lastIssue .issueSlider .slick-list {
    margin: 0 --1rem;
}

#lastIssue .issueSlider .issueBox {
    border-radius: 1rem;
    border: 1px solid #d4d4d4;
    overflow: hidden;
}

/* ---------- FOOTER ---------- */

footer {
    padding: 5rem 0;
    margin: 0 auto;
    background-color: #f9f9f9;
}

footer>h3 {
    margin-bottom: 2rem;
    text-align: center;
}

footer>h3>a>img {
    width: 12rem;
}

footer>#pubInfo {
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

footer>#pubInfo>li>strong {
    font-weight: bold;
    margin-right: 0.5rem;
}


footer>#sns {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

footer>#sns>li>a>i {
    border-radius: 50%;
    padding: 0.5rem;
    color: #ffffff;
}

footer>#sns>li:nth-child(1)>a>i {
    background-color: #2A569C;
}

footer>#sns>li:nth-child(2)>a>i {
    background: linear-gradient(225deg, rgba(75, 90, 168, 1) 0%, rgba(222, 60, 112, 1) 58%, rgba(238, 169, 67, 1) 93%);
}

footer>#sns>li:nth-child(3)>a>i {
    background-color: #D3161E;
}

footer>#sns>li:nth-child(4)>a>i {
    background-color: #FFE900;
    color: #3B1D1D;
}

footer>#sns>li:nth-child(5)>a>i {
    background-color: #2A569C;
}

footer>p {
    text-align: center;
    font-size: 1rem;
    color: #949494;
}

/* ---------- MEDIA ---------- */

@media only screen and (min-width: 360px) and (max-width: 500px) {

    html {
        font-size: 16px;
    }

    body {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
        line-height: 25px;
        font-family: 'NanumSquareNeoExtraBold';
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    h2>.titIcon {
        margin-right: 5px;
        font-size: 25px;
    }

    .section {
        width: 360px;
        margin: 0 auto;
        padding: 50px 10px 10px 10px;
    }

    .sliderArrow .slick-arrow {
        position: absolute;
        bottom: 0%;
        left: 50%;
        z-index: 999;
        width: 10px;
        height: 10px;
        padding: 0;
        font-size: 0;
        border: none;
        outline: none;
        background: transparent;
        border-left: 2px solid #202020;
        border-top: 2px solid #202020;
    }

    .sliderArrow .slick-prev {
        margin: 0 0 0 -110px;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .sliderArrow .slick-next {
        margin: 0 0 0 110px;
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .sliderDots .slick-dots {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .sliderDots .slick-dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #FBB03F;
        margin: 0 5px;
        cursor: pointer;
    }

    .sliderDots .slick-dots li::after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        border-radius: 50%;
        background: #FBB03F;
    }

    .sliderDots .slick-dots li.slick-active::after {
        width: 100%;
    }

    .sliderDots .slick-dots li button {
        display: none;
    }

    /* ---------- BUTTON ---------- */

    .fixedBtn {
        display: none;
        position: fixed;
        bottom: 40px;
        width: 340px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        background-color: #3cacbb;
        padding: 13px 0;
        box-shadow: 3px 3px 3px rgba(20, 20, 20, 0.45);
        z-index: 999;
        color: #ffffff;
    }

    .fixedBtn::after {
        position: absolute;
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 45%;
        left: 86%;
        content: "\eafa";
        font-family: 'xeicon';
        font-size: 75px;
        color: hsla(0, 0%, 100%, 0.20);
        z-index: -1;
    }

    .fixedBtn>a>div {
        text-align: center;
    }

    .fixedBtn>a>div>p {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 5px;
    }

    .fixedBtn>a>div>strong {
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
    }

    /* ---------- MAIN ---------- */

    #coverPage {
        width: 360px;
        height: 500px;
        overflow: hidden;
        padding: 0;
    }

    #coverPage>figure {
        overflow: hidden;
    }

    #coverPage>figure>.coverMain {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        opacity: 0;
        z-index: 998;
    }

    #coverPage>figure>.coverTitle {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        opacity: 0;
        z-index: 999;
    }

    .homeCover.swiper-slide-active>main>#coverPage>figure {
        opacity: 1;
        transform: translateY(0);
    }

    .homeCover.swiper-slide-active>main>#coverPage>figure>.coverMain {
        opacity: 1;
        transform: translateY(-50%);
        transition: 2s;
    }

    .homeCover.swiper-slide-active>main>#coverPage>figure>.coverTitle {
        opacity: 1;
        transform: translateY(-50%);
        transition: 1.5s;
    }

    /* ---------- MAIN - MAINNEWS ---------- */

    #mainNews {
        padding: 50px 0 10px 0;
    }

    #mainNews .newsSlider {
        height: 340px;
    }

    #mainNews .newsSlider .newsBox {
        position: relative;
        height: 320px;
        background-color: #fff;
    }

    #mainNews .newsSlider .newsBox>a>figure {
        height: 200px;
        overflow: hidden;
    }

    #mainNews .newsSlider .newsBox>a>.desc {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -20%);
        z-index: 999;
        background-color: #fff;
        padding: 15px;
        width: 95%;
        height: 130px;
        box-shadow: 2px 2px 2px hsla(0, 0%, 13%, 0.1);
    }

    #mainNews .newsSlider .newsBox>a>.desc>h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 10px;
    }

    #mainNews .newsSlider .newsBox>a>.desc>.titleLong {
        display: -webkit-box;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.5px;
        height: 47px;
        overflow: hidden;
        word-break: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }

    #mainNews .newsSlider .newsBox>a>.desc>p {
        display: -webkit-box;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.5px;
        height: 70px;
        overflow: hidden;
        word-break: break-word;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }

    /* ---------- MAIN - POINT ---------- */

    #point {
        padding: 50px 0;
    }

    #point .contentBox {
        display: flex;
        gap: 10px;
        margin-bottom: 45px;
    }

    #point .contentBox>li {
        border-radius: 10px;
        border: 1px solid #d4d4d4;
        overflow: hidden;
    }

    #point .contentBox>li>a {
        position: relative;
    }

    #point .contentBox>li>a>.title {
        position: absolute;
        font-weight: bold;
        bottom: 0;
        width: 175px;
        background-color: hsla(0, 0%, 13%, 0.45);
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }

    #point>.subBtn {
        background-color: #32afbf;
        font-weight: bold;
        width: 200px;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
    }

    /* ---------- MAIN - LASTISSUE ---------- */

    #lastIssue {
        width: 340px;
        padding-bottom: 50px;
    }

    #lastIssue .issueSlider {
        overflow: hidden;
        padding-bottom: 35px;
    }

    #lastIssue .issueSlider .slick-slide {
        margin: 0 10px;
    }

    #lastIssue .issueSlider .slick-list {
        margin: 0 -10px;
    }

    #lastIssue .issueSlider .issueBox {
        border-radius: 10px;
        border: 1px solid #d4d4d4;
        overflow: hidden;
    }

    /* ---------- FOOTER ---------- */

    footer {
        width: 100%;
        font-size: 10px;
        padding: 50px 0;
        margin: 0 auto;
        background-color: #f9f9f9;
    }

    footer>h3 {
        margin-bottom: 20px;
        text-align: center;
    }

    footer>h3>a>img {
        width: 120px;
    }

    footer>#pubInfo {
        display: inline-block;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    footer>#pubInfo>li>strong {
        font-weight: bold;
        margin-right: 5px;
    }


    footer>#sns {
        display: flex;
        gap: 10px;
        font-size: 20px;
        margin-bottom: 20px;
        justify-content: center;
    }

    footer>#sns>li>a>i {
        border-radius: 50%;
        padding: 5px;
        color: #ffffff;
    }

    footer>#sns>li:nth-child(1)>a>i {
        background-color: #2A569C;
    }

    footer>#sns>li:nth-child(2)>a>i {
        background: linear-gradient(225deg, rgba(75, 90, 168, 1) 0%, rgba(222, 60, 112, 1) 58%, rgba(238, 169, 67, 1) 93%);
    }

    footer>#sns>li:nth-child(3)>a>i {
        background-color: #D3161E;
    }

    footer>#sns>li:nth-child(4)>a>i {
        background-color: #FFE900;
        color: #3B1D1D;
    }

    footer>#sns>li:nth-child(5)>a>i {
        background-color: #2A569C;
    }

    footer>p {
        text-align: center;
        font-size: 10px;
        color: #949494;
    }

}